*.log
.htaccess
bower_components/
bower_components/*
bower.json
_ARCHIVE/
_ARCHIVE/*
elements/
elements/*
login/
login/*
myNewApp/
myNewApp/*
node_app/
node_app/*
polymer-starter-kit/
polymer-starter-kit/*
test.php
